@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

* {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  font-family: 'Lato', sans-serif;
  color: #000;
  text-align: center;
}
